<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Carrer</h1>
    <h4>
        <h3>Sporting CP</h3>

        At age 16, Ronaldo was promoted from Sporting's youth team by first-team manager László Bölöni, who was
        impressed with his dribbling.[22] He subsequently became the first player to play for the club's under-16,
        under-17 and under-18 teams, the B team and the first team, all within a single season.[17] A year later, on 29
        September 2002, Ronaldo made his debut in the Primeira Liga, against Braga and on 7 October, he scored two goals
        against Moreirense in their 3–0 win.[23] Over the course of the 2002–03 season, his representatives suggested
        the player to Liverpool manager Gérard Houllier and Barcelona president Joan Laporta.[24] Manager Arsène Wenger,
        who was interested in signing Ronaldo, met with him at Arsenal's grounds in November to discuss a possible
        transfer.[25]

        Manchester United manager Alex Ferguson was determined to acquire Ronaldo on a permanent move urgently, after
        Sporting defeated United 3–1 at the inauguration of the Estádio José Alvalade in August 2003. Initially, United
        had planned to sign Ronaldo and loan him back to Sporting for a year.[26] Having been impressed by him, the
        United players urged Ferguson to sign him. After the game, Ferguson agreed to pay Sporting £12.24 million[26]
        for what he considered to be "one of the most exciting young players" he had ever seen.[27] A decade after his
        departure from the club, in April 2013, Sporting honoured Ronaldo by selecting him to become their 100,000th
        member.[28]
    </h4>

    <h4>
        <h3>Manchester United</h3>

        Ronaldo's move to Manchester United was completed on 12 August 2003, too late for the 2003 FA Community Shield
        but in time for their game against Bolton Wanderers on the opening day of the 2003–04 season, and made him the
        first Portuguese player to sign for the club.[30] His transfer fee of £12.24 million made him, at the time, the
        most expensive teenager in English football history.[31] Although he requested the number 28, his number at
        Sporting, he received the squad number 7 shirt, which had previously been worn by such United players as George
        Best, Eric Cantona and David Beckham.[32] Wearing the number 7 became an extra source of motivation for
        Ronaldo.[33] A key element in his development during his time in England proved to be Ferguson, of whom he later
        said: "He's been my father in sport, one of the most important and influential factors in my career."[34]
    </h4>
    <h4>
        <h3>Real Madrid</h3>

        Ahead of the 2009–10 season, Ronaldo joined Real Madrid for a world record transfer fee at the time, of £80
        million (€94 million).[106] His contract, which ran until 2015, was worth €11 million per year and contained a
        €1 billion buy-out clause.[107] At least 80,000 fans attended his presentation at the Santiago Bernabéu,
        surpassing the 25-year record of 75,000 fans who had welcomed Diego Maradona at Napoli.[108] Since club captain
        Raúl already wore the number 7 (the number Ronaldo wore at United), Ronaldo received the number 9 shirt,[109]
        which was presented to him by former Madrid player Alfredo Di Stéfano.[110]
    </h4>
    <h4>
        <h3>Juventus</h3>

        Despite months of negotiation to sign a new Real Madrid contract,[224] on 10 July 2018, Ronaldo signed a
        four-year contract with Italian club Juventus after completing a €100 million transfer, which included an
        additional €12 million in other fees and solidarity contributions to Ronaldo's youth clubs.[225] The transfer
        was the highest ever for a player over 30 years old,[226] and the highest paid by an Italian club.[227] Upon
        signing, Ronaldo cited his need for a new challenge as his rationale for departing Madrid,[228] but later
        attributed the transfer to the lack of support he felt was shown by club president Florentino Pérez.[229]
    </h4>
    <h4>
        <h3>Manchester United</h3>

        On 27 August 2021, Manchester United announced they had reached an agreement with Juventus to re-sign Ronaldo,
        subject to agreement of personal terms, visa and medical.[283] The transfer was reported as costing an initial
        £12.85 million, with a two-year contract plus an optional year, and was confirmed on 31 August.[284] Ronaldo was
        given the number 7 shirt after Edinson Cavani agreed to switch to 21.[285] The first 24 hours of Ronaldo's shirt
        sales was reported to have broken the all-time record following a transfer, overtaking Messi after his move to
        Paris Saint-Germain.[286]

        On 11 September, Ronaldo made his second debut at Old Trafford, scoring the opening two goals in a 4–1 league
        victory against Newcastle United.[287] On 29 September, he scored a last-minute winner in United's 2–1 victory
        at home to Villarreal in the Champions League, and overtaking Iker Casillas as the player with the most
        appearances in the competition.[288] On 2 December, Ronaldo scored twice in a 3–2 home league win against
        Arsenal, taking him past 800 top-level career goals.[289]
    </h4>

    <script type="text/javascript" src="app.js"></script>
</body>

</html>